* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255, .6);
    font-style: italic;
    background-color: #0a2739;
}

header h1 {
    font-size: 50px;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
    text-align: center;
    color: azure;
}

.cuadricula {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    overflow: hidden;
    box-shadow: 0px 10px 10px black;
}

.cuadricula-2-columnas {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
    box-shadow: 0px 10px 10px black;
}

.cuadricula-2-columnas-dentro-de-columna {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
    box-shadow: 0px 10px 10px black;
}

.cuadricula-hijo {
    border: .1rem solid rgba(255, 255, 255, .8);
    border-radius: .3rem;
    color: rgba(255, 255, 255, .6);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0.5rem;
}

p {
    font-size: 15px;
    text-align: justify;
    color: rgba(255, 255, 255, .8);
}

.descripcion {
    font-size: 15px;
    font-weight: lighter;
    height: 14rem;
    line-height: 1.5;
    overflow: hidden;
}

a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: auto;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: rgba(255, 255, 255, .6);
    border: solid 1px;
    background-color: #0a2739;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 10px black;
    overflow: hidden;
}

a:link,
a:visited,
a:focus {
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    background: orange;
    color: black;
}

a:active {
    background: red;
}

h4 {
    display: block;
    font-weight: bold;
    font-size: 25px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    margin: 1%;
    color: azure;
}

.contenedor-img {
    text-align: center;
    box-shadow: 0px 10px 10px black;
    padding: auto;
    margin-right: auto;
    margin-left: auto;
    border: auto;
}

.contenedor {
    text-align: center;
}

.row-2-cols {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.row-1-cols {
    display: grid;
    grid-template-columns: 1fr;
}

.relleno {
    background-color: black;
    color: black;
    padding: 0%;
}

footer p {
    text-align: center;
}

nav {
    text-align: center;
}

.li-vertical {
    display: flex;
}

nav ul li {
    display: inline;
}

header div {
    box-shadow: 0px 10px 10px black;
    width: 100%;
}

.pagina-activa {
    background: orange;
    color: black;
}

.limpio {
    display: block;
    border: none;
    box-shadow: none;
    margin: 0.5px;
    padding: 1px;
    height: 100%;
    line-height: 0.1rem;
}

@media (max-width:932px) {
    .row-2-cols {
        grid-template-columns: 1fr 1fr;
    }
    .cuadricula-2-columnas-dentro-de-columna {
        grid-template-columns: 1fr;
    }
    iframe {
        width: auto;
    }
}

@media (max-width:768px) {
    .row-2-cols {
        grid-template-columns: 1fr 1fr;
    }
    .cuadricula-2-columnas {
        grid-template-columns: 1fr;
    }
    iframe {
        width: auto;
    }
}

@media (max-width:700px) {
    .row-2-cols {
        grid-template-columns: 1fr;
    }
    .cuadricula-2-columnas {
        grid-template-columns: 1fr;
    }
}